@import url("style.css");

#nav-top, #nav-bottom {
	display: none;
}

/*Reset Style*/
body {
	margin:0;
	 padding:0;
	 line-height: 1.4em;
	 word-spacing:1px;
	 letter-spacing:0.2px;
	 font-size: 13px;
/*	 font: 13px Arial, Helvetica,"Lucida Grande", serif; */
/*	text-align: justify; */
	 color: #000;
}

/* Show URL */
a:link, a:visited {
	background: transparent;
	 color:#333;
	 text-decoration:none;
}
a:link[href^="http://"]:after, a[href^="http://"]:visited:after {
	content: " <" attr(href) "> ";
	 font-size: 11px;
}
a[href^="http://"] {
	color:#000;
}



#content h1, #chapter-title, h1 {
       font: 2.4em 'Habibi', Georgia; /*'', ''*/
}